{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %} 

{% block content%}
<div class="container">
    <a href="{{url_for('main.add_blog')}}">Add blog</a>
    <h3>How to Immerse Yourself in Spanish When You Don’t Live Abroad</h3>
    <h5>Watch Spanish Videos on FluentU</h5>
    <h6>
        Watching authentic videos—videos made by native Spanish speakers for a native-speaking audience—is an excellent method
        of simulating the immersive experience of being abroad in a Spanish-speaking country.
        
        A great place to access authentic Spanish videos online is right here at FluentU. FluentU has put together a collection
        of the best real-world Spanish video content from the web, and all of the videos can all be watched with Spanish
        subtitles—score!
        
        The videos types range from commercials and music videos to funny homemade mini-movies and speeches—so no matter your
        interests or level, you’ll find something excellent to watch.

    </h6>

    {% for blog in blogs %}
        <p>{{blog.blog}}</p>
        <a href="{{url_for('main.add_comment',blog_id = blog.id)}}">Add comment</a>
        <a style="margin-left:90px;" href="{{url_for('main.view_comment',blog_id = blog.id)}}">View comment</a>
    {% endfor %}
    
{% endblock %}